header{
    clear: both;
    height: 80px;
    background-color: #2b2a2f;
    .logo{
        float:left;
        width: 30%;
        img{
            width: 80px;
        float: right;
        }
    }
    .title{
        float: left;
        width: 70%;
        color:white;
        h1{
            margin:20px;
        }
    }
}
nav{
    clear:both;
    height: 42px;
    background-color: #4580bf;
    ul{
        margin:0;
        li{
            float: left;
            margin: 12px 5px;
            list-style-type: none;
            a{
                padding: 10px;
                text-decoration: none;
                color:white;
                
            }
            a:hover{
                text-decoration: underline;
                border-radius: 10px;
                background-color: #2b2a2f;
            }
        }
    }

}
.container{
    clear:both;
    padding:20px;
    min-height: 500px;
    background-color: #f0f0f0;
    
}
footer{
    clear: both;
    text-align: center;
    padding: 15px 0; 
    background-color: #2b2a2f;
    font-weight: bold;
    color:white;
}