<p>
  apis works!
</p>

<table border="1">
  <tr>
      <td> id</td>
      <td> Name</td>
      <td> Age</td>
      <td> email</td>
      <td> password</td>
      <td> Actions</td>
  </tr>

  <tr *ngFor="let user of users">
      <td> {{user.id}}</td>
      <td> {{user.fname}} {{user.lname}}</td>
      <td> {{user.age}}</td>
      <td> {{user.email}}</td>
      <td> {{user.password}}</td>
      <td>
          <p (click)="viewUser(user.id)"> view</p>
          <div (click)="editUser(user.id)"> Edit</div>
          <button (click)="deleteUser(user.id)"> delete</button>
      </td>
  </tr>
      
</table>

<button (click)="createUser()">Create</button>
{{userInfo | json}}

<pre>














    
</pre>
