<p>
  obj-forms works!
</p>
<pre>
    <form #f=ngForm f >
      <input type="text" name="fname" [(ngModel)]="user.fname" #fname=ngModel placeholder="fname" required minlength="5"
      pattern="[a-zA-Z0-9\s#]+">
      
      <p *ngIf="f.submitted && fname.hasError('required')" style="color:red;"> this is a mandatory feild</p>
      <p *ngIf="f.submitted && fname.hasError('minlength')" style="color:red;"> Please enter min 5 chars</p>
      <p *ngIf="f.submitted && fname.hasError('pattern')" style="color:red;"> Please enter a valid pattern input</p>

      <input type="text" name="lname" [(ngModel)]="user.lname" #lname=ngModel placeholder="lname">
    
      <input type="submit" (click)="f.valid && login(f, fname, lname)">
      
    </form>
    
        feilds
        valid :: {{fname.valid}}
        invalid :: {{fname.invalid}}
        dirty :: {{fname.dirty}}
        pristine :: {{fname.pristine}}
        touched :: {{fname.touched}}
        untouched :: {{fname.untouched}}
    
        form 
        valid :: {{f.valid}}
        invalid :: {{f.invalid}}
        dirty :: {{f.dirty}}
        pristine :: {{f.pristine}}
        touched :: {{f.touched}}
        untouched :: {{f.untouched}}
        submitted :: {{f.submitted}}
    
    </pre>
     
    