<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<
<p>
  op works.. custom element directive!
</p>

<pre>
  {{user.fname}}
  {{user.age}}
  {{user.gender}}
  <button (click)="getName(user.fname)"> get Name</button>
  <button (click)="getAge(user.age)"> get age</button>
  <button (click)="getGender(user.gender)"> get gender</button>
</pre>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<
      <<<<<<<<<<<<<<<<<<<<<<<<<<<<
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<
          <<<<<<<<<<<<<<<<<<<<<<<<<<<<
      