<p>
  obj-forms works!
</p>

  <pre>
    <form #frm=ngForm (submit)="frm.valid && login()">
      <input type="text" name="fname" [(ngModel)]="user.fname" #fname=ngModel required minlength="5">
      <!-- <p style="color:red" *ngIf="fname.dirty && fname.hasError('required') "> this is required</p>
      <p style="color:red" *ngIf="fname.dirty && fname.hasError('minlength') "> min 5 chars</p> -->
      
      <!-- <p style="color:red" *ngIf="fname.touched && fname.hasError('required') "> this is required</p>
      <p style="color:red" *ngIf="fname.touched && fname.hasError('minlength') "> min 5 chars</p> -->
      
      <p style="color:red" *ngIf="frm.submitted && fname.hasError('required') "> this is required</p>
      <p style="color:red" *ngIf="frm.submitted && fname.hasError('minlength') "> min 5 chars</p>
      
      <input type="text" name="lname" [(ngModel)]="user.lname" #lname=ngModel>
      <input type="submit">
    </form>
  
  
    field states
  
    <!-- valid :: {{f.fname.$valid}} -->
    valid :: {{fname.valid}}
    invalid :: {{fname.invalid}}
    dirty :: {{fname.dirty}}
    pristine :: {{fname.pristine}}
    touched :: {{fname.touched}}
    untouhed :: {{fname.untouched}}
    required :: {{fname.hasError('required')}}
    minlength :: {{fname.hasError('minlength')}}
  
  
    form states
  
    <!-- valid :: {{f.$valid}} -->
    valid :: {{frm.valid}}
    invalid :: {{frm.invalid}}
    dirty :: {{frm.dirty}}
    pristine :: {{frm.pristine}}
    touched :: {{frm.touched}}
    untouhed :: {{frm.untouched}}
    submit :: {{frm.submitted}}
  </pre>
  