<p>
  pipes works!
</p>


<pre>
  {{fname}}
  {{fname | lowercase}}
  {{fname | uppercase}}

  {{age}}
  {{age | number}}
  <!-- {{fname | number}} -->
  
  {{age | currency}}
  {{age | currency:'Rs '}}
  {{age | currency:'INR '}}
  
  {{age | currency:'INR'}}
  {{age | currency:'&#8377;'}}
  
  
  {{day}}
  {{day|date}}
  {{day|date:'dd-MM-yy'}}
  
  
  {{user}}
  {{user | json}}



  {{255 | hexa}}
  {{13 | hexa}}
  {{14 | hexa}}
  {{15 | hexa}}

  {{5 |params:3:5:2}}




  
</pre>

<app-obj-forms></app-obj-forms>