<p>
  pipes works!
</p>
<pre>
  <input type="text" name="fname" [(ngModel)]="fname">
  {{fname}}
  {{fname|lowercase}}
  {{fname | uppercase}}


  
  {{age}}
  {{age | number}}
  {{age | currency}}
  {{age | currency:'rs'}}
  {{age | currency:'INR'}}
  {{age | currency:'&#8377;'}}
  
  {{age | hexaaaaaaaaaaaaaaaaaa}}
  {{255 | hexaaaaaaaaaaaaaaaaaa}}
  {{254  | hexaaaaaaaaaaaaaaaaaa}}

  {{5 | params:5:3:2}}
  {{user}}
  {{user | json}}
  
  
  {{day}}
  {{day |date}}
  {{day |date:'dd-MM-yy'}}

</pre>